#my_container {
    display: grid;
    height: 865px;
    grid-template-columns: 0.8fr 3fr 1fr;
}
/* 성과, 리워드 메뉴바 */
.bottom_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.grid_sections1 {
    border: 1px solid black;
}

.grid_sections2 {
    border: 1px solid black;
    position: relative;
}

.grid_sections3 {
    border: 1px solid black;
}
.color_change {
    display: inline-block;
}
.stamp_change {
    display: inline-block;
}

/* 캘린더 내부 스탬프 */
.stamp_container {
    width: 100px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    margin: 30px;
    background-color: white;
}
.stamp {
    /* display: none; */
    visibility: hidden;
}
.stamp_click {
    /* display: block; */
    visibility: visible;
}

.total_stamp {
    margin-bottom: 50px;
}

.darkblue {
    /* width:500px;
    height:1600px; */
    background-color: rgb(154, 214, 224);
}

.btn-size {
    border: none;
    width: 90px;
    height: 50px;
}
.pink {
    background-color: #fee4e3;
}
.green {
    background-color: rgb(201, 208, 104);
}
.yellow {
    background-color: rgb(246, 209, 92);
}
.blue {
    background-color: rgb(154, 214, 224);
}

#pink {
    background-color: #fee4e3;
}
#green {
    background-color: rgb(201, 208, 104);
}
#yellow {
    background-color: rgb(246, 209, 92);
}
#blue {
    background-color: rgb(154, 214, 224);
}

.stamps {
    margin: 20px;
}

/* 왼쪽 리스트 */
#item-template {
    display: none;
}

.item {
    padding: 10px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 14px;
    margin-bottom: 10px;
}

.itemList {
    padding: 10px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 14px;
    margin: 10px;
}

.itemList:hover {
    background-color: yellow;
    cursor: pointer;
}

.item-no {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #a0a0a0;
    vertical-align: middle;
    min-width: 17px;
}

.item-detail {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;
}

.item-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.css-progressbar {
    width: 80%;
    animation: progressbar 2s ease-out;
}

@keyframes progressbar {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
