#my_container {
    display: grid;
    height: 920px;
    grid-template-columns: 0.8fr 3fr 1fr;
}
.grid_sections1 {
    border: 1px solid black;
}

.grid_sections2 {
    border: 1px solid black;
}

.grid_sections3 {
    border: 1px solid black;
}

/* 캘린더 내부 스탬프 */
.stamp_container{
    width:  100px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    margin: 30px;
    background-color: white;
}
.stamp{
    /* display: none; */
    visibility: hidden;
}
.stamp_click{
    /* display: block; */
    visibility: visible;
}
.darkblue{
    /* width:500px;
    height:1600px; */
    background-color: rgb(173, 232, 250);
 }
 
.btn-size{
    border: none;
    width: 90px;
    height: 50px;
}
.pink{
    background-color: #fee4e3;
}
.green{
    background-color: rgb(201, 208, 104);
}
.yellow{
    background-color: rgb(246, 209, 92);
}
.blue{
    background-color: rgb(154, 214, 224);
}

#pink{
    background-color: #fee4e3;
}
#green{
    background-color: rgb(201, 208, 104);
}
#yellow{
    background-color: rgb(246, 209, 92);
}
#blue{
    background-color: rgb(154, 214, 224);
}


.stamps{
    margin: 20px;
}