* {
    /* font-family: , sans-serif; */
    font-family: "Lobster", "Yeon Sung", cursive;
}

h1 {
    font-size: 3em;
}

#my_container {
    display: grid;
    height: 855px;
    grid-template-columns: 0.8fr 3fr 1fr;
}
/* nav 바 색 */
.navbar-dark {
    background-color: #20375f;
    color: #f9fbfa;
}
.modal-header {
    background: url(/skin.png);
}
/* 성과, 리워드 메뉴바 */
.bottom_bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.grid_sections1 {
    /* border: 1px solid black; */
}

.grid_sections2 {
    /* border: 1px solid black; */
    position: relative;
}

.grid_sections3 {
    /* border: 1px solid black; */
    padding: 30px 20px;
}
.color_change {
    display: inline-block;
    padding: 13px 10px;
}
.color_change_name {
    font-size: 18px;
}
.stamp_change {
    display: inline-block;
    margin-top: 30px;
}

/* 캘린더 내부 스탬프 */
.stamp_title {
    font-size: 2em;
}
.stamp_container {
    width: 100px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    margin: 30px;
    background-color: white;
}
.stamp {
    /* display: none; */
    visibility: hidden;
}
.stamp_click {
    /* display: block; */
    visibility: visible;
}
.total_stamp {
    margin-bottom: 50px;
}
.darkblue {
    /* width:500px;
    height:1600px; */
    background-color: #fee4e3;
}

.color_title {
    font-size: 2em;
}
.btn-size {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.pink {
    background-color: #fee4e3;
}
.green {
    background-color: rgb(201, 208, 104);
}
.yellow {
    background-color: rgb(246, 209, 92);
}
.blue {
    background-color: rgb(154, 214, 224);
}

.purple {
    background-color: #581845;
}
.Mulberry {
    background-color: #900c3f;
}
.red {
    background-color: #c70039;
}
.orange {
    background-color: #ff5733;
}

#pink {
    background-color: #fee4e3;
}
#green {
    background-color: rgb(201, 208, 104);
}
#yellow {
    background-color: rgb(246, 209, 92);
}
#blue {
    background-color: rgb(154, 214, 224);
}

#purple {
    background-color: #581845;
}
#Mulberry {
    background-color: #900c3f;
}
#red {
    background-color: #c70039;
}
#orange {
    background-color: #ff5733;
}

.stamps {
    margin: 20px;
}

/* 왼쪽 리스트 */
#item-template {
    display: none;
}

.item {
    padding: 10px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 14px;
    margin-bottom: 10px;
}

.itemList {
    padding: 10px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 14px;
    margin: 10px;
    font-size: 2em;
}

.itemList:hover {
    background-color: #e9eaec;
    cursor: pointer;
}

.item-no {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: #a0a0a0;
    vertical-align: middle;
    min-width: 17px;
}

.item-detail {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;
}

.item-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}

.css-progressbar {
    width: 80%;
    animation: progressbar 2s ease-out;
}

@keyframes progressbar {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

#deleteBtn {
    float: right;
}

.btn-danger {
    border-radius: 50px;
}

progress[value] {
    width: 300px;
    height: 14px;
    display: inline-block;
    /* Important Thing */
    -webkit-appearance: none;
    appearance: none;
    border: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
            -45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.1) 33%,
            rgba(0, 0, 0, 0.1) 66%,
            transparent 66%
        ),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
        -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
